doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-eauiv='X-UA-Compatible',content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href='css/all.min.css')
    body
        div(class='main-page')
            div(class="backimage")
            //- card of levels selection
            div(class="card")
                a(id="easy",class="lvlbutton",href="html/easy.html") EASY
                a(id="meduim",class="lvlbutton",href="html/meduim.html") MEDUIM
                a(id="hard",class="lvlbutton",href="html/hard.html") HARD
        //- javascript scripts
        script(src="js/main.js")
        script(src="http://localhost:35729/livereload.js")
