include includes\_MainStructure.pug
   block content
      //- easy level card
      div(class="easy",id="easy")
         - for (let i = 1; i <= 28 ; i++) 
            div(class="solitaire",)
               div(class="front") ?
               img(class="back",src="")
         