include includes\_MainStructure.pug
   block content
      //- meduim level card
      div(class="meduim",id="meduim")
         - for (let i = 1; i <= 40 ; i++) 
            div(class="solitaire",)
               div(class="front") ?
               img(class="back",src="")
